<footer class="bg-main-light p-4 ">
    <div class="container">
        <h3 class="fw-bold mb-2">Get the FreshCart app</h3>
        <p class="text-muted mb-4">
            We will send you a link, open it on your phone to download the app.
        </p>

        <div class="row g-3 mb-4">
            <div class="col-12 col-md-8">
                <input type="email" class="form-control" placeholder="Email..." />
            </div>
            <div class="col-12 col-md-4 d-grid">
                <button class="btn bg-main text-white" type="submit">Share</button>
            </div>
        </div>

        <hr />

        <div class="row align-items-center text-center text-md-start gy-3">
            <!-- Left: Payment Partners -->
            <div class="col-12 col-md-6">
                <div
                    class="d-flex flex-column flex-md-row align-items-center justify-content-center justify-content-md-start gap-2">
                    <h5 class="mb-0 fw-semibold">Payment partners</h5>
                    <div class="d-flex mt-2 gap-3">
                        <a href="https://pay.amazon.com/" target="_blank">
                            <i class="fa-brands fa-cc-amazon-pay fa-xl"></i>
                        </a>
                        <a href="https://www.mastercard.com/us/en.html" target="_blank">
                            <i class="fa-brands fa-cc-mastercard fa-xl"></i>
                        </a>
                        <a href="https://paypal.com/" target="_blank">
                            <i class="fa-brands fa-cc-paypal fa-xl"></i>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Right: App Store Links -->
            <div class="col-12 col-md-6">
                <div
                    class="d-flex flex-column flex-md-row align-items-center justify-content-center justify-content-md-end gap-2">
                    <h5 class="mb-0 fw-semibold">Get deliveries with FreshCart</h5>
                    <div class="d-flex gap-2">
                        <a href="https://www.apple.com/store" target="_blank">
                            <img src="appStore.png" class="img-fluid footerIMG" />
                        </a>
                        <a href="https://play.google.com/store/games?hl=en" target="_blank">
                            <img src="googlePlay.png" class="img-fluid footerIMG" />
                        </a>

                    </div>
                </div>
            </div>
        </div>
        <hr />
    </div>
</footer>